body{
	margin: 0;
}

/* Header */
header {
	display: flex;
	width: 100%;
	height: 80px;
	background-color: white;
	align-items: center;
	position: fixed;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid black 1px;
	z-index: 1;
}


header > * {
	display: inline-block;
	flex-grow: 1;
}

header .logo {
	margin-left: 30px;
	display: flex;
	color: mediumaquamarine;
	align-items: center;
}

header .logo img {
	margin: 0 12px 0 0;
}

header nav {
	margin-right: 30px;
	text-align: right;
}

header nav a{
	margin: auto 20px;
	color:  black;
	text-decoration-line: underline;
	text-decoration-style: solid;
}




/* Container */
.container{
	position: relative;
	top: 60px;
	background-color: white;
	border: solid black 5px;
	display: flex;
	justify-content: center;
	z-index: 0;
	
}

.container > *{
	margin: 32px 16px 0px 16px; 
}

.container .left{
	width: 630px;
	border: solid black 2px;
	background-color: white;
}

.container .middle{
	width: 300px;
	border: solid black 2px;
	background-color: white;
}


.container .right{
	width: 240px;
	border: solid black 2px;
	background-color: white;
}


article{
	display: flex;
	flex-flow: column;
	border: solid black 1px;
}

article > *{
	border:  dashed black 1px;
}


/* Stories */
.stories{
	display: flex;
}

.stories article{
	flex: 0 1 auto;}






/* Typography */
p{
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

.image p{
	position: relative;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}


/* Images */
#main{
	height: 300px;
	background-image: url(../assets/img-story-main.png);
}
#EarthSpin{
	height: 300px;
	background-image: url(../assets/img-story-2.png);
}
#Camera{
	height: 300px;
	background-image: url(../assets/img-story-3.png);
}
#Cat{
	height: 300px;
	background-image: url(../assets/img-story-1.png);
}
#main p{
	font-size: 40px;
}










